@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tyler White<br />
    123 Main St<br />
    Paw Paw, MI 49079 <br />
    <abbr title="Phone">P:</abbr>
    269-555-5555
</address>

<address>
    <strong>Admin:</strong>   <a href="mailto:twhite4880@kvcc.mail.edu">twhite4880@kvcc.mail.edu</a><br />
</address>