@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6 - Beverage Database</h1>
    <br />
    <p class="lead">Use this site to access the database of beverages. Please login to use these features.</p>
</div>


